site_name: Mis apuntes

site_author: danimrprofe
site_description: >-
  página con apuntes de informática

repo_name: danimprofe/apuntes
repo_url: https://github.com/danimrprofe/

site_url: https://danimrprofe.github.io/apuntes/
theme:
  name: material
  language: es

  features:
    - navigation.top
    - navigation.sections
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.instant
    - navigation.indexes
    - header.autohide
    - content.code.copy
    - navigation.footer
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - admonition
  - pymdownx.details
  - pymdownx.keys
  #- toc:
  #    toc_depth: 0

plugins:
  - search

copyright: danimrprofe 2022

extra:
  social:
    - icon: fontawesome/brands/github-alt
      link: https://github.com/danimrprofe/

extra_css:
  - stylesheets/extra.css